:root {
    --secondary-color: hsl(0, 0%, 100%);
    --font-color: hsl(209, 23%, 22%);
    --bg-color: hsl(0, 0%, 98%);
  }
  [data-theme="dark"] {
    --secondary-color: hsl(209, 23%, 22%);
    --font-color: hsl(0, 0%, 100%);
    --bg-color: hsl(207, 26%, 17%);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
}
a{
  color: var(--font-color);
}
a:hover{
  color: var(--font-color);
}
table tr td{
  color: var(--font-color);
}
/* Preloader */
.loader{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 8px solid black;
  border-left: 8px solid lightgray;
  border-top:  8px solid lightgray;
  border-bottom:  8px solid lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  animation: roll 1s infinite;
}
@keyframes roll{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

